*{
    border: 1px solid red;
}

html{
    font-family: sans-serif;
}

.header,
.header-logo,
.header-links,
.title-box,
.title-box-text,
.title-box-text-title
.title-box-text-subtext{
    background-color: #1F2937;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links,
.title-box-text-subtext,
.title-box-text-button{
    font-size: 18px;
    color: #E5E7EB;
}

.header-links{
    display: flex;
    flex-direction: row;
}

.title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 75px;
}

.title-box-text{
    width: 450px;
}

.title-box-text-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.title-box-text-button{
    background-color: #3882F6;
    width: fit-content;
    gap: 20px;
    padding: 0px 10px;
    border-radius: 10px;
}

.title-box-image img{
    width: 500px;
    height: auto;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.info-images img{
    width: 300px;
    height: 500px;
    border: 1px solid #3882F6;
}

.info-images-1-text,
.info-images-2-text,
.info-images-3-text{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;  
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;  
    padding: 20px;
    gap: 10px;
}

.quote-text{
    width: 500px;
    height: auto;
}

.quote-person{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    font-weight: bold;
    width: 500px;
    height: auto;
}

.cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 20px; 
    border-radius: 50px;
}