*{
    border: 1px solid red;
}

html{
    font-family: sans-serif;
}

.header,
.header-logo,
.header-links,
.title-box,
.title-box-text,
.title-box-text-title
.title-box-text-subtext{
    background-color: #1F2937;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-links,
.title-box-text-subtext,
.title-box-text-button{
    font-size: 18px;
    color: #E5E7EB;
}

.header-links{
    display: flex;
    flex-direction: row;
}

.title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 20px;
    padding: 50px;
}

.title-box-text-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.title-box-text-button{
    background-color: #3882F6;
    width: fit-content;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}
